:root {
    --color-bg: rgba(255, 255, 255, 1);
    --color-bg-object: rgba(221, 241, 248, 0.6);
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

html, body, .container, .sub-container {
    width: 100%;
    height: 100%;
}

/* css grid */

.container, .sub-container,
.sidebar, .header, .content,
.search, .user, .greeting,
.project-section, .announcement-section, .trending-section,
.projects, .news {
    display: grid;
}

img {
    max-width: 1.5rem;
    max-height: 1.5rem;
}

/* container */

.container {
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    grid-row: span 2;
    grid-template-rows: 1fr 15fr;
}

.sub-container {
    grid-template-rows: 1fr 4fr;
}

.header {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.content {
    grid-template-columns: 3fr 1fr;
}

.projects {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.news {
    grid-template-rows: 1fr 1fr;
}

/* header */
.search {
    gap: 4px;
    grid-template-columns: auto 1fr;
    padding: 1rem;
}

input {
    max-height: 1.5rem;
    margin-right: 4rem;
    background-color: var(--color-bg-object);
    border-radius: 8px;
}

/* projects */

.project-section {
    grid-template-rows: 1fr 15fr;
}